@import '@carefrees/form-utils-react-taro/assets/index.css';

@unocss preflights;
@unocss default;

.nut-cell.fairys-taro-popup-search-list-virtual-cell > .nut-cell-left > .nut-cell-title {
  width: 100%;
}

.nut-cell.fairys-taro-popup-search-list-virtual-cell > .nut-cell-extra {
  flex: none;
}

.fairys-taro-popup-search-list-table .nut-table-main-head-tr {
  z-index: 10;
  position: relative;
}

/* 解决宽度不一致造成的固定列阴影错位 */
.fairys-taro-popup-search-list-table .nut-table-main-body-tr-td,
.fairys-taro-popup-search-list-table .nut-table-main-head-tr-th {
  box-sizing: border-box;
}
