@unocss preflights;
@unocss default;

.nut-cell.fairys-taro-popup-search-list-virtual-cell > .nut-cell-left > .nut-cell-title {
  width: 100%;
}

.nut-cell.fairys-taro-popup-search-list-virtual-cell > .nut-cell-extra {
  flex: none;
}

.fairys-taro-popup-search-list-table .nut-table-main-head-tr {
  z-index: 10;
  position: relative;
}

/* 解决宽度不一致造成的固定列阴影错位 */
.fairys-taro-popup-search-list-table .nut-table-main-body-tr-td,
.fairys-taro-popup-search-list-table .nut-table-main-head-tr-th {
  box-sizing: border-box;
}
/* 表单项输入框字体大小 */
.fairys-valtio-form-item-body .nut-input.nut-input-container > .nut-input-native,
.fairys-valtio-form-item-body .nut-input.nut-input-container .nut-input-placeholder,
.fairys-valtio-form-item-body .nut-input.nut-input-container > .nut-input-native::placeholder {
  font-size: 12px;
}
.fairys-valtio-form-item-body .nut-input.nut-input-container > .nut-input-native:not(.h5-input) {
  display: flex;
  align-items: center;
}
.fairys-valtio-form-item.between
  .fairys-valtio-form-item-body
  .nut-input.nut-input-container
  > .nut-input-native
  .weui-input {
  text-align: right;
}
